* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.side {
  background-color: #1c1c1c;
  width: 20%;
  height: 100%;
  position: absolute;
}
.main {
  background-color: #fcfcfc;
  width: 80%;
  height: 100%;
  left: 20%;
  position: absolute;
}
.main-header {
  position: absolute;
  top: 0;
  left: 2.5%;
  right: 2.5%;
  width: 95%;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  padding-top: 6px;
}
.main-content {
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 100%;
  overflow-x: auto;
}
.main-footer {
  position: absolute;
  bottom: 0;
  left: 2.5%;
  right: 2.5%;
  width: 95%;
  height: 40px;
}
.emoji {
  cursor: pointer;
}

/* NAVIGATION */
nav {
  display: block;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li {
  position: relative;
  display: block;
  cursor: pointer;
}

.nav > li > div {
  color: #b4b4b4;
  position: relative;
  display: block;
  padding: 10px 20px;
}

.nav > li:hover > div, .nav > li:focus > div, .nav > li.active > div {
  color: #ffffff;
  background-color: #323232;
}

.pull-right {
  float: right!important;
}

.active > .nav-users {
  height: auto!important;
  opacity: 1;
}

.nav-users {
  height: 0;
  opacity: 0;
  background-color: #262626;
  -webkit-transition: all .25s ease-in-out 0s;
  -moz-transition: all .25s ease-in-out 0s;
  -ms-transition: all .25s ease-in-out 0s;
  -o-transition: all .25s ease-in-out 0s;
  transition: all .25s ease-in-out 0s;
  cursor: pointer;
}

.nav-desc {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  height: 22px;
  color: #989898;
}

.font-bold {
  font-weight: 700;
}

.line {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  font-size: 0;
  background-color: #262626;
}

li.nav-desc > span {
  line-height: 22px;
}

.exit-room {
  color: #979797;
}

@keyframes fa-blink {
  0% { opacity: 1; }
  25% { opacity: 0.5; }
  50% { opacity: 0; }
  75% { opacity: 0.5; }
  100% { opacity: 1; }
}

.fa-blink {
  -webkit-animation: fa-blink 3s linear infinite;
  -moz-animation: fa-blink 3s linear infinite;
  -ms-animation: fa-blink 3s linear infinite;
  -o-animation: fa-blink 3s linear infinite;
  animation: fa-blink 3s linear infinite;
}